$bp-sm: 359px;
$bp-md: 576px;
$bp-lg: 768px;
$bp-xl: 1170px;

@mixin bp($class) {
  @if $class == sm {
    @media (max-width: $bp-sm) { @content; }
  }

  @else if $class == md {
    @media (min-width: $bp-md) { @content; }
  }

  @else if $class == to-lg {
    @media (max-width: $bp-lg - 1px) { @content; }
  }

  @else if $class == lg {
    @media (min-width: $bp-lg) { @content; }
  }

  @else if $class == to-xl {
    @media (max-width: $bp-xl - 1px) { @content; }
  }

  @else if $class == xl {
    @media (min-width: $bp-xl) { @content; }
  }

  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}