$font-1: 'uniform';
$font-2: 'uniform-extra';
$font-3: 'bourton-stripes-c';

@font-face {
  font-family: 'uniform';
  src: url('../fonts/Uniform Condensed.otf');
}

@font-face {
  font-family: 'uniform';
  src: url('../fonts/Uniform Condensed Light.otf');
  font-weight: 300;
}

@font-face {
  font-family: 'uniform';
  src: url('../fonts/Uniform Condensed Medium.otf');
  font-weight: 500;
}

@font-face {
  font-family: 'uniform';
  src: url('../fonts/Uniform Condensed Bold.otf');
  font-weight: 700;
}

@font-face {
  font-family: 'uniform-extra';
  src: url('../fonts/Uniform Extra Condensed Medium.otf');
}

@font-face {
  font-family: 'bourton-stripes-c';
  src: url('../fonts/Bourton-StripesC.otf');
}

