.features {
  color: #fff;

  @include bp(to-xl) {
    padding: 60px 0 55px;
  }

  @include bp(xl) {
    padding: 85px 0 40px;
  }

  &-title {
    text-transform: uppercase;
    font-family: 'uniform-extra';
    font-weight: 500;
    text-align: center;
    font-stretch: extra-condensed;
    color: $color-4;
    font-size: 36px;
    margin: 0 0 60px;
  }
}


.slider-item {
  text-align: center;

  @include bp(to-xl) {
    max-width: 150px;
    margin: 0 auto;
  }

  @include bp(xl) {
    max-width: 200px;
  }
  
  &-img {
    margin-bottom: 36px;
    height: 120px;
    line-height: 120px;
    background-repeat: no-repeat;
    background-position: left center;

    & img {
      vertical-align: middle;
    }
  }

  &-title {
    color: $color-1;
    font-weight: 300;
    font-size: 24px;
    letter-spacing: -0.3px;
    margin-bottom: 8px;
  }

  &-description {
    font-size: 18px;
    color: $color-6;
    font-size: 18px;
    font-stretch: condensed;
    line-height: 1.17;
    font-weight: 300;
    letter-spacing: -0.2px;
    color: #a2aebd;
  }
}


// Reset default owl img width: 100%, display: block
.owl-carousel .owl-item img {
  width: auto;
  display: inline-block;
}
  
.owl-dots {
  margin-top: 55px;
}

.owl-theme .owl-dots .owl-dot.active span {
  background: $color-1 !important;
}

.owl-prev {
  @include center(v);
  height: 56px;
  width: 56px;
  line-height: 56px;
  background-color: $color-3;
  color: $color-1;
  padding: 0;
  font-size: 24px;
  border-radius: 100%;
  text-align: center;

  @include bp(to-xl) {
    left: 10px;
  }

  @include bp(xl) {
    left: 50px;
  }
}

.owl-next {
  @include center(v);
  height: 56px;
  width: 56px;
  line-height: 56px;
  background-color: $color-3;
  color: $color-1;
  padding: 0;
  font-size: 24px;
  border-radius: 100%; 
  text-align: center;

  @include bp(to-xl) {
    right: 10px;
  }

  @include bp(xl) {
    right: 50px;
  }
}

.owl-carousel, .owl-carousel .owl-item {
  position: static !important;
}

.owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #d6d6d6;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
  border-radius: 30px;  
}

.owl-dots .owl-dot.active span {
  background: #69d8ee!important;
}

.owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
}

.owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}