.join {
  

  @include bp(to-xl) {
    padding: 10px 0 25px;
  }

  @include bp(xl) {
    padding: 175px 0 195px;
    text-align: right;
  }
}

.join-title {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 35px;
  font-stretch: condensed;
  letter-spacing: -0.5px;
  color: $color-4;
  text-transform: uppercase;

  @include bp(to-xl) {
    font-size: 36px;
  }
  
  @include bp(xl) {
    font-size: 64px;
    max-width: 300px;
    margin: 0 0 35px auto;
  }
}

.join-description {
  max-width: 450px;
  font-weight: 300;
  font-stretch: condensed;
  line-height: 1.61;
  letter-spacing: -0.1px;
  color: $color-7;

  &-underline {
    color: $color-4;
    border-bottom: 1px solid $color-1;
  }

  @include bp(to-xl) {
    font-size: 16px;
    line-height: 23px;
  }
  
  @include bp(xl) {
    font-size: 18px;
    text-align: right;
    margin: 0 0 0 auto;
  }
}

.ride {
  max-width: 100%;

  @include bp(to-xl) {
    margin-bottom: 20px;
  }

  @include bp(xl) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}