.newsletter {
  background-color: $color-1;
  text-align: center;

  &:before {
    content: '';
    @include center(h);
    top: -2px;
    width: 0;
    height: 0;
    border-left: 90px solid transparent;
    border-right: 90px solid transparent;
    border-top: 25px solid $color-2;
  }
  
  @include bp(to-xl) {
    padding: 65px 0;
  }

  @include bp(xl) {
    padding: 115px 0 120px;
  }

  &-title {
    text-transform: uppercase;
    font-family: 'uniform-extra';
    font-weight: 500;
    text-align: center;
    
    font-stretch: extra-condensed;
    color: $color-2;

    @include bp(to-xl) {
      font-size: 36px;
      letter-spacing: -0.2px;
      max-width: 250px;
      margin: 0 auto 15px;
    }
  
    @include bp(xl) {
      font-size: 48px;
      margin: 0 0 30px;
      letter-spacing: -0.5px;
    }
  }
  
  &-subtitle {
    color: $color-4;
    letter-spacing: -0.3px;
    font-weight: 300;
    margin: 0 0 30px;
    
    @include bp(to-xl) {
      font-size: 18px;
      max-width: 250px;
      margin: 0 auto 30px;
      line-height: 22px;
    }
  
    @include bp(xl) {
      font-size: 22px;
    }
  }
}
 
.newsletter-form {

  &-input {
    border: none;
    padding: 0 20px;
    box-sizing: border-box;

    @include bp(to-xl) {
      height: 43px;
    }
    
    @include bp(xl) {
      height: 56px;
    }
  }

  &-email {
    background-color: $color-4;
    color: $color-5;
    font-size: 15px;
    
    @include bp(to-xl) {
      max-width: 220px;
      margin-right: 8px;
    }

    @include bp(sm) {
      max-width: 175px;
    }
    
    @include bp(xl) {
      width: 400px;
      margin-right: 16px;
    }
  }

  &-btn {
    font-family: $font-2;
    background-color: $color-2;
    color: $color-1;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 3px;
    cursor: pointer;

    @include bp(to-xl) {
      width: 100px;
      font-weight: 300;
    }
    
    @include bp(xl) {
      width: 186px;
      font-weight: 500;
    }
  }
}

.agreement {
  color: $color-4;
  letter-spacing: 1.5px;
  font-size: 15px;
  line-height: 18px;
  margin-top: 30px;
  font-weight: 300;
}