.security {
  @include bp(to-xl) {
    padding: 25px 0 0px;;
  }

  @include bp(xl) {
    padding: 175px 0 190px;
  }
}

.security-title {
  font-weight: 700;
  margin-bottom: 35px;
  font-stretch: condensed;
  letter-spacing: -0.5px;
  color: $color-4;
  text-transform: uppercase;
  
  @include bp(to-xl) {
    font-size: 36px;
  }
  
  @include bp(xl) {
    font-size: 64px;
    max-width: 300px;
  }
}

.security-description {
  max-width: 450px;
  font-size: 18px;
  font-weight: 300;
  font-stretch: condensed;
  line-height: 1.61;
  letter-spacing: -0.1px;
  color: $color-7;
}

.safe {
  max-width: 100%;

  @include bp(to-xl) {
    margin-bottom: 20px;
  }

  @include bp(xl) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}