body {
  font-family: $font-1;
  background-color: $color-2;
}

strong {
  font-weight: 500;
}

.wrapper {
  max-width: 1070px;
  margin: 0 auto;
  padding: 0 15px;
}

.relative {
  position: relative;
}