.nav-list {
  display: flex;
}

.nav {

  // footer specific ?
  &-logo {
    @include bp(to-xl) {
      margin-bottom: 45px;
    }
  }

  &-item {
    margin-left: 8px;
    width: 38px;
    height: 38px;
  }

  &-item--lang {
    position: relative;
    margin-left: 50px;
    padding-right: 25px;
  }

  &-item--btn {
    padding: 0 25px;
    font-weight: 300;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    font-size: 14px;
    margin-right: 56px;
    width: 110px;
  }

  &-item--lang:after {
    content: '▾';
    @include center(v);
    right: 0;
    color: $color-1;
    cursor: pointer;
  }

  &-link {
    display: block;
    text-decoration: none;
  }

  &-link--circle,
  &-link--square {
    color: $color-1;
    background-color: $color-3;
    text-align: center;
    line-height: 38px;
  }

  &-link--circle {
    border-radius: 100%;
  }
}

.flag-icon {
  max-width: 100%;
}