.page-header {
  background-image: url('../images/i-stock-89469762.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 155px 0;

  @include bp(to-xl) {
    padding: 130px 0 20px;
  }
}

.header-nav {
  position: absolute;
  top: 35px;
  left: 50px;
  right: 35px;
  display: flex;
  justify-content: space-between;

  @include bp(to-xl) {
    left: 15px;
    right: 35px;
  }
}

.header {
  &-nav {
    display: flex;
  }
}

.header-nav .nav-list .nav-item {
  @include bp(to-xl) {
    display: none;
  }

  @include bp(xl) {
    display: block;
  }
}

.header-nav .nav-list .nav-item--lang {
  @include bp(to-xl) {
    margin-left: 0;
  }
  display: block;
  
}



.header {

  &-title-wrapper {
    font-family: $font-3;
    text-transform: uppercase;
  }
  
  &-subtitle {
    color: $color-4;
    font-size: 36px;
    letter-spacing: -0.6px;
  
    @include bp(to-xl) {
      font-size: 24px
    }

    @include bp(xl) {
      font-size: 36px
    }
  }

  &-title {
    font-size: 72px;
    letter-spacing: -1.1px; 
    margin: 0 0 10px;
    color: $color-4;
  
    @include bp(to-xl) {
      font-size: 48px;
    }

    @include bp(xl) {
      font-size: 72px;
    }
  }

  &-title-big {
    color: $color-1;
    line-height: 0.85;
    letter-spacing: -2px;

    @include bp(to-xl) {
      font-size: 64px;
      margin: 0 0 20px;
    }

    @include bp(xl) {
      font-size: 130px;
      margin: 0 0 40px;    
    }
  }
}



.header-form {
  @include bp(to-xl) {
    margin-top: 30px;
  }

  @include bp(xl) {
    margin-top: 90px; 
  }

  &-wrapper {
    text-align: center;
  }

  &-input {
    height: 56px;
    border: none;
    padding: 0 20px;
    box-sizing: border-box;

    @include bp(to-xl) {
      height: 43px;
    }
    
    @include bp(xl) {
      height: 56px;
    }
  }

  &-email {
    width: 400px;
    background-color: $color-2;
    font-size: 15px;
    color: $color-4;
    border: 1px solid darken($color-1, 50);
    margin-right: 15px;

    @include bp(to-xl) {
      max-width: 220px;
      margin-right: 8px;
    }

    @include bp(sm) {
      max-width: 175px;
    }
    
    @include bp(xl) {
      width: 400px;
      margin-right: 16px;
    }
  }

  &-btn {
    background-color: $color-1;
    color: $color-2;
    text-transform: uppercase;
    font-size: 18px;
    font-family: $font-2;
    letter-spacing: 3px;
    font-weight: 500;
    font-stretch: extra-condensed;
    cursor: pointer;

    @include bp(to-xl) {
      width: 100px;
      font-weight: 300;
    }
    
    @include bp(xl) {
      width: 186px;
      font-weight: 500;
    }
  }
} 

.face {
  max-width: 100%;

  @include bp(to-xl) {
    margin-bottom: 20px;
  }

  @include bp(xl) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}