.page-footer {
  background-color: $color-4;
  
  @include bp(to-xl) {
    padding: 40px 0 75px;
    text-align: center;
  }

  @include bp(xl) {
    padding: 70px 0 70px;
  }
}

.footer {
  &-nav {
    display: flex;
    
    @include bp(to-xl) {
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;
    }
  
    @include bp(xl) {
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 80px;
    }
  }

  &-copyright {
    font-size: 15px;
    padding: 0;
    color: $color-6;
    letter-spacing: -0.2px;
    font-weight: 300;

    @include bp(to-xl) {
      line-height: 21px;
      max-width: 250px;
      margin: 0 auto;
    }
  }
}